<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome To Our Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<div    class="container">
    <div    class="row">

        <div    class="col-md-10">
            <table class="table table-dark">
                <thead>
                        <tr>
                            <th scope="col" >#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Bio</th>


                        </tr>

                        <tr th:each="user :${users}" th:object="${user}">

                            <td th:text="*{id}"></td>
                            <td th:text="*{username}"></td>
                            <td th:text="*{gender}"></td>
                            <td th:text="*{bio}"></td>


                        </tr>

                </thead>


            </table>
        </div>
    </div>

</div>



</body>
</html>